<!DOCTYPE html>
<html>
<head>
  <title>Case Champ</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div class="container">
      <% if landing_page? %>
        <%= yield %>
        <%= render "layouts/landing_footer" %>
      <% else %>
        <%= render "layouts/non_landing_css" %>
        <%= yield %>
        <%= render "layouts/footer" %>
      <% end %>
    </div>
  </body>
</html>
